<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="allTests">

    <test name="allTestMethods" >
        <classes>
            <class name="BaseTest">
                <methods>
                    <include name="tapBroadcastSSOLogoutLoginScreenshotValidateMsgTest" />
                    <include name="mainAppTestCase" />
                </methods>
            </class>
        </classes>
    </test>
</suite>